<launch>
  <arg name="model" />
  <arg name="color" />
  <arg name="robot_name" />

  <!-- DEFAULT URDF, TURTLEBOTS WON'T BE COLORED -->
  <!--<param name="robot_description" command="$(find xacro)/xacro
    '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro' " />-->

  <!-- USING A SINGLE URDF, PASSING THE COLOR AS AN ARGUMENT -->
  <param name="robot_description" command="$(find xacro)/xacro
    '$(find multirobot_interference)/urdf/turtlebot3_$(arg model)_colored.urdf.xacro'
    color:=$(arg color)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg robot_name)" />
  </node>
</launch>
