<launch>
    <arg name="environment" default="house" />
    <arg name="metric_map" default="$(find multirobot_interference)/envs/$(arg environment)/metric.yaml" />
    <arg name="topomap" default="$(find multirobot_interference)/envs/$(arg environment)/topomap.tpg" />
    <arg name="config_yaml" default="$(find multirobot_interference)/param/config.yaml" />
    <arg name="rviz_config" default="-d $(find multirobot_interference)/rviz/testing.rviz" />
    <arg name="gazebo_gui" default="false" /> <!-- ACTIVATE GAZEBO GUI -->
    <arg name="rqt_console" default="false" /> <!-- LAUNCH RQT CONSOLE -->

    <!-- GAZEBO -->
    <include file="$(find multirobot_interference)/launch/includes/main_gazebo.launch">
        <arg name="world_name" value="$(find multirobot_interference)/envs/$(arg environment)/world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!--gzserver killer-->
	<node pkg="multirobot_interference" type="gz_killer.py" name="gz_killer" output="screen" />

    <!-- map server -->
    <node pkg="map_server" type="map_server" name="map_loader" args="$(arg metric_map)" />

    <!--toponodes publisher-->
    <node pkg="multirobot_interference" type="toponodes_publisher.py" name="toponodes_publisher"
          args="--topomap $(arg topomap) --yaml $(arg config_yaml)"
    />

    <!--robots-->
    <include file="$(find multirobot_interference)/launch/robots.launch">
        <arg name="config_yaml" value="$(arg config_yaml)" />
        <arg name="environment" value="$(arg environment)" />
    </include>

    <!--topoplanner-->
    <arg name="planner_logs" default="true" />
    <arg name="adjlist" value="$(find multirobot_interference)/envs/$(arg environment)/adjlist.txt" />
    <node pkg="multirobot_interference" type="topoplanner.py" name="topoplanner"
          args="--adjlist $(arg adjlist) --environment $(arg environment)
                --yaml $(arg config_yaml)"
          output="screen" required="true"
    />

    <!--destinations debugger-->
    <arg name="dest_debug" default="false" />
    <node pkg="multirobot_interference" type="destinations_debugger.py" name="destinations_debugger"
          args="--yaml $(arg config_yaml)" if="$(arg dest_debug)"
    />

    <!-- RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="$(arg rviz_config)" />

    <!--rqt_console-->
    <node pkg="rqt_console" type="rqt_console" name="rqt_console" if="$(arg rqt_console)" />
</launch>