<launch>
<!--    this file should be used to test if everything works correctely.-->
<!--    it can be launched for experiments, but its recommended to use start.launch + robot.launch-->

    <arg name="robot_1" value="robot_1" />
    <arg name="robot_2" value="robot_2" />

    <arg name="environment" default="house" />
    <arg name="metric_map" default="$(find multirobot_interference)/maps/$(arg environment)/metric.yaml" />
    <arg name="topomap" default="$(find multirobot_interference)/maps/$(arg environment)/topomap.tpg" />
    <arg name="config_yaml" default="$(find multirobot_interference)/param/config.yaml" />
    <arg name="rviz_config" default="-d $(find multirobot_interference)/rviz/multi_toponav.rviz" />
    <arg name="gazebo_gui" default="false" /> <!-- LAUNCH GAZEBO CLIENT -->
    <arg name="rqt_console" default="false" /> <!-- LAUNCH RQT CONSOLE -->

    <!-- GAZEBO -->
    <include file="$(find multirobot_interference)/launch/includes/main_gazebo.launch">
        <arg name="world_name" value="$(find multirobot_interference)/worlds/$(arg environment).world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!--gz killer-->
	<node pkg="multirobot_interference" type="gz_killer.py" name="gz_killer" output="screen" />

    <!-- map server -->
    <node pkg="map_server" type="map_server" name="map_loader" args="$(arg metric_map)" />

    <!--toponodes publisher-->
    <node pkg="multirobot_interference" type="toponodes_publisher.py" name="toponodes_publisher"
          args="--topomap $(arg topomap) --yaml $(arg config_yaml)"
    />

    <!--robot 1-->
    <group ns="$(arg robot_1)">
        <include file="$(find multirobot_interference)/launch/includes/one_robot.launch">
            <arg name="robot_name" value="$(arg robot_1)" />
            <arg name="color" value="'1 0 0 1'" /> <!-- red -->
            <arg name="config_yaml" value="$(arg config_yaml)" />

            <arg name="x_pos" value="1" />
            <arg name="y_pos" value="1" />
            <arg name="z_pos" value="0" />
        </include>
    </group>

    <!--robot 2-->
    <group ns="$(arg robot_2)">
        <include file="$(find multirobot_interference)/launch/includes/one_robot.launch">
            <arg name="robot_name" value="$(arg robot_2)" />
            <arg name="color" value="'0 0 1 1'" /> <!-- blue -->
            <arg name="config_yaml" value="$(arg config_yaml)" />

            <arg name="x_pos" value="-1" />
            <arg name="y_pos" value="1" />
            <arg name="z_pos" value="0" />
        </include>
    </group>

    <!--topoplanner-->
    <arg name="planner_logs" default="true" />
    <arg name="adjlist" value="$(find multirobot_interference)/maps/$(arg environment)/adjlist.txt" />
    <node pkg="multirobot_interference" type="topoplanner.py" name="topoplanner"
          args="--adjlist $(arg adjlist) --environment $(arg environment)
                --yaml $(arg config_yaml)"
          output="screen" required="true"
    />

    <!--destinations debugger-->
    <arg name="dest_debug" default="false" />
    <node pkg="multirobot_interference" type="destinations_debugger.py" name="destinations_debugger"
          args="--yaml $(find multirobot_interference)/param/topics.yaml" if="$(arg dest_debug)"
    />

    <!-- RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="$(arg rviz_config)" />

    <!--rqt_console-->
    <node pkg="rqt_console" type="rqt_console" name="rqt_console" if="$(arg rqt_console)" />
</launch>